body {
  background-color: black;
  font-size: xx-large;
  float: right;
}

.display {
  color: #D4D4D2;
  text-align: right;
}

.orange {
  background-color: orange;
}

.dark {
  background-color: #1c1c1c;
  color: white;
}

.light {
  background-color: #D4D4D2;
}

.flex {
  display: flex;
  float: right;
}

.column {
  flex-direction: column;
  justify-content: space-evenly;
}

.border {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.zero{
  border-radius: 50px;
  width: 200px;
}