body {
  background-color: black;
  font-size: xx-large;
}

.display {
  color: #D4D4D2;
  text-align: right;
}

.item {
  text-align: center;
}

.orange {
  background-color: orange;
}

.dark {
  background-color: #1c1c1c;
  color: white;
}

.light {
  background-color: #D4D4D2;
}

.flex {
  display: flex;
  float: right;
}

.column {
  flex-direction: column;
  justify-content: space-evenly;
}